body {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 26, 0);
  margin-inline-start: 80px;
  margin-inline-end: 80px;
}

h1,
h2,
strong {
  color: #f6b98d;
}

strong {
  font-size: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: saturate(0.4);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section {
  font-size: 1em;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-word;
}
